@font-face {
    font-family: 'SWISA03';
    src: url('SWISA03.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SWISA04';
    src: url('SWISA04.TTF') format('truetype');
    font-weight: bold;
    font-style: normal; 
}
body {
    font-family: 'SWISA03', sans-serif;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the body take full viewport height */
    margin: 0; /* Remove default margin */
}

.container {
    width: 100%; /* Allow it to scale down on smaller screens */
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container-submit {
    margin: auto;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold; /* Make labels bold for emphasis */
}

input[type="radio"] {
    margin-right: 10px; /* Space between radio button and label */
    accent-color: #005952;
}

input[type="radio"] + label {
    display: inline-block; /* Keep labels inline with radio buttons */
}

button {
    font-family: 'SWISA04', sans-serif; 
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background: #005952;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background: #83ca9e;
}

#responseMessage {
    margin-top: 20px;
    text-align: center;
}
.receipt {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.receipt-image {
    z-index: 1; 
}

img {
    max-width: 100%; 
    height: auto; 
}
